body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 48px;
}

/* Below is an example of a grouping that was referenced in the checkpoint. */

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

/* I grouped ".element" and ".element-blue" here to consolidate code. */

.element, .element-blue {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* The background-color of these next three div elements needs to be changed */

.element-blue {
  background-color: blue;
}
